<content>
	<canvas class="stage"></canvas>
	<div class="view-start">
		
		<div class="logo">
			<i style="--x: 1; --y: 1;"></i>
			<i style="--x: 1; --y: 4;"></i>
			<i style="--x: 4; --y: 1;"></i>
			<i style="--x: 7; --y: 1;"></i>
			<i style="--x: 1; --y: 7;"></i>
			<i style="--x: 12; --y: 1;"></i>
			<i style="--x: 12; --y: 4;"></i>
			<i style="--x: 15; --y: 1;"></i>
			<i style="--x: 12; --y: 7;"></i>
			<i style="--x: 12; --y: 10;"></i>
			<i style="--x: 12; --y: 13;"></i>
			<i style="--x: 18; --y: 4;"></i>
			<i style="--x: 18; --y: 7;"></i>
			<i style="--x: 18; --y: 10;"></i>
			<i style="--x: 18; --y: 13;"></i>
			<i style="--x: 23; --y: 1;"></i>
			<i style="--x: 26; --y: 1;"></i>
			<i style="--x: 26; --y: 7;"></i>
			<i style="--x: 23; --y: 4;"></i>
			<i style="--x: 23; --y: 7;"></i>
			<i style="--x: 23; --y: 10;"></i>
			<i style="--x: 23; --y: 13;"></i>
			<i style="--x: 29; --y: 1;"></i>
			<i style="--x: 29; --y: 4;"></i>
			<i style="--x: 29; --y: 7;"></i>
			<i style="--x: 29; --y: 10;"></i>
			<i style="--x: 29; --y: 13;"></i>
			<i style="--x: 45; --y: 1;"></i>
			<i style="--x: 48; --y: 1;"></i>
			<i style="--x: 48; --y: 7;"></i>
			<i style="--x: 45; --y: 4;"></i>
			<i style="--x: 45; --y: 7;"></i>
			<i style="--x: 45; --y: 10;"></i>
			<i style="--x: 45; --y: 13;"></i>
			<i style="--x: 51; --y: 1;"></i>
			<i style="--x: 51; --y: 7;"></i>
			<i style="--x: 48; --y: 13;"></i>
			<i style="--x: 51; --y: 13;"></i>
			<i style="--x: 34; --y: 1;"></i>
			<i style="--x: 37; --y: 7;"></i>
			<i style="--x: 34; --y: 4;"></i>
			<i style="--x: 34; --y: 7;"></i>
			<i style="--x: 34; --y: 10;"></i>
			<i style="--x: 34; --y: 13;"></i>
			<i style="--x: 40; --y: 1;"></i>
			<i style="--x: 40; --y: 4;"></i>
			<i style="--x: 40; --y: 10;"></i>
			<i style="--x: 40; --y: 13;"></i>
			<i style="--x: 4; --y: 7;"></i>
			<i style="--x: 7; --y: 7;"></i>
			<i style="--x: 7; --y: 10;"></i>
			<i style="--x: 1; --y: 13;"></i>
			<i style="--x: 4; --y: 13;"></i>
			<i style="--x: 7; --y: 13;"></i>
		</div>

		<div class="best-score">
			<h2>Best Score <span>0</span></h2>
		</div>
		<div class="pyro">
			<div class="before"></div>
			<div class="after"></div>
		</div>

		<div class="instructions">
			<div class="row">
				<div>
					<span class="key icon-arrow-up"></span>
					<span class="key icon-arrow-down"></span>
				</div>
				<h2>Up / Down</h2>
			</div>
			<div class="row">
				<div>
					<span class="key icon-arrow-right"></span>
					<span class="key icon-arrow-left"></span>
				</div>
				<h2>Right / Left</h2>
			</div>

			<div class="row push">
				<div>
					<span class="key esc">Esc</span>
				</div>
				<h2>New Game</h2>
			</div>

			<div class="row">
				<div>
					<span class="key">P</span>
				</div>
				<h2>Pause</h2>
			</div>
		</div>
	</div>
	<div class="view-paused">
		<!-- P -->
		<i style="--x: 0; --y: 0;"></i>
		<i style="--x: 1; --y: 0;"></i>
		<i style="--x: 2; --y: 1;"></i>
		<i style="--x: 1; --y: 2;"></i>
		<i style="--x: 0; --y: 1;"></i>
		<i style="--x: 0; --y: 2;"></i>
		<i style="--x: 0; --y: 3;"></i>
		<i style="--x: 0; --y: 4;"></i>
		<!-- A -->
		<i style="--x: 5; --y: 0;"></i>
		<i style="--x: 4; --y: 1;"></i>
		<i style="--x: 6; --y: 1;"></i>
		<i style="--x: 4; --y: 2;"></i>
		<i style="--x: 5; --y: 2;"></i>
		<i style="--x: 6; --y: 2;"></i>
		<i style="--x: 4; --y: 3;"></i>
		<i style="--x: 6; --y: 3;"></i>
		<i style="--x: 4; --y: 4;"></i>
		<i style="--x: 6; --y: 4;"></i>
		<!-- U -->
		<i style="--x: 8; --y: 0;"></i>
		<i style="--x: 10; --y: 0;"></i>
		<i style="--x: 8; --y: 1;"></i>
		<i style="--x: 10; --y: 1;"></i>
		<i style="--x: 8; --y: 2;"></i>
		<i style="--x: 10; --y: 2;"></i>
		<i style="--x: 8; --y: 3;"></i>
		<i style="--x: 10; --y: 3;"></i>
		<i style="--x: 8; --y: 4;"></i>
		<i style="--x: 9; --y: 4;"></i>
		<i style="--x: 10; --y: 4;"></i>
		<!-- S -->
		<i style="--x: 13; --y: 0;"></i>
		<i style="--x: 14; --y: 0;"></i>
		<i style="--x: 12; --y: 1;"></i>
		<i style="--x: 12; --y: 2;"></i>
		<i style="--x: 13; --y: 2;"></i>
		<i style="--x: 14; --y: 2;"></i>
		<i style="--x: 14; --y: 3;"></i>
		<i style="--x: 12; --y: 4;"></i>
		<i style="--x: 13; --y: 4;"></i>
		<!-- E -->
		<i style="--x: 16; --y: 0;"></i>
		<i style="--x: 17; --y: 0;"></i>
		<i style="--x: 18; --y: 0;"></i>
		<i style="--x: 16; --y: 1;"></i>
		<i style="--x: 16; --y: 2;"></i>
		<i style="--x: 17; --y: 2;"></i>
		<i style="--x: 18; --y: 2;"></i>
		<i style="--x: 16; --y: 3;"></i>
		<i style="--x: 16; --y: 4;"></i>
		<i style="--x: 17; --y: 4;"></i>
		<i style="--x: 18; --y: 4;"></i>
	</div>
</content>