
background: #000;
overflow: visible;

content {
	position: absolute;
	top: 8px;
	left: 8px;
	right: 8px;
	bottom: 8px;
	// background: #00f;
	background: radial-gradient(#333, #111);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	--size: 26px;

	&.show-paused {
		.view-paused {
			display: block;
		}

		.stage {
			filter: blur(3px);
			opacity: .35;
		}
	}

	&.show-init {
		.view-init {
			display: block;
		}

		.stage {
			filter: blur(3px);
			opacity: .35;
		}
	}

	.stage {
		position: absolute;
		top: 0;
		left: 0;
		height: 416px;
		width: 728px;
	}


	.view-init,
	.view-paused {
		display: none;
		position: absolute;
		top: 130px;
		left: 104px;
		z-index: 2;

		i {
			position: absolute;
			top: calc( var( --size ) * var( --y ) );
			left: calc( var( --size ) * var( --x ) );
			width: 37px;
			height: 37px;
			animation: rotate 3s linear infinite;

			&[style*="--y: 1;"] { animation-delay: 100ms; }
			&[style*="--y: 2;"] { animation-delay: 300ms; }
			&[style*="--y: 3;"] { animation-delay: 500ms; }
			&[style*="--y: 4;"] { animation-delay: 700ms; }

			&[style*="--x: 1;"]:after { animation-delay: 1800ms; }
			&[style*="--x: 2;"]:after { animation-delay: 1700ms; }
			&[style*="--x: 3;"]:after { animation-delay: 1600ms; }
			&[style*="--x: 4;"]:after { animation-delay: 1500ms; }
			&[style*="--x: 5;"]:after { animation-delay: 1400ms; }
			&[style*="--x: 6;"]:after { animation-delay: 1300ms; }
			&[style*="--x: 7;"]:after { animation-delay: 1200ms; }
			&[style*="--x: 8;"]:after { animation-delay: 1100ms; }
			&[style*="--x: 9;"]:after { animation-delay: 1000ms; }
			&[style*="--x: 10;"]:after { animation-delay: 900ms; }
			&[style*="--x: 11;"]:after { animation-delay: 800ms; }
			&[style*="--x: 12;"]:after { animation-delay: 700ms; }
			&[style*="--x: 13;"]:after { animation-delay: 600ms; }
			&[style*="--x: 14;"]:after { animation-delay: 500ms; }
			&[style*="--x: 15;"]:after { animation-delay: 400ms; }
			&[style*="--x: 16;"]:after { animation-delay: 300ms; }
			&[style*="--x: 17;"]:after { animation-delay: 200ms; }
			&[style*="--x: 18;"]:after { animation-delay: 100ms; }

			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 15px;
				height: 15px;
				background: #ccc;
				border-radius: 50%;
				animation: yoyo 1500ms ease-in-out infinite;
			}
		}
	}

	.view-init {
		top: 52px;
		left: 130px;
	}
}

@keyframes rotate {
	0%   { transform: rotate(0deg); }
	50%  { transform: rotate(180deg); }
	100% { transform: rotate(360deg); }
}

@keyframes yoyo {
	0%   { background: #ccc; }
	50%  { background: #666; }
	100% { background: #ccc; }
}
