
background: #000;

content {
	position: absolute;
	top: 8px;
	left: 8px;
	right: 8px;
	bottom: 8px;
	// background: #00f;
	background: radial-gradient(#333, #111);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	--size: 26px;

}

.stage {
	position: absolute;
	top: 0;
	left: 0;
	height: 416px;
	width: 728px;
}

